@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix{
  clear: both;
  content: "";
  display: block;
}
/* 回答はここに書いてね */
img{
  vertical-align: bottom;
}
.highlight-box{
  width: 940px;
  background-color: #eff3f4;
}
.img_fuusenn{
  margin-bottom: 10px;
  margin-right: 20px;
  float: left;
  display: block;
}