@charset "UTF-8";
/* 回答はここに書いてね */

/* 回答はここに書いてね */

.q9_sankaku {
  margin: 0 auto;
  width: 500px;
  padding: 20px;
  font-size: 16px;
  line-height: 16px;
  border-radius: 30px;
  border: 5px solid #222;
  position: relative;
}

.q9_sankaku:after, .q9_sankaku:before {
  position: absolute;
  content: '';
  left: 30px;
  border: 20px solid transparent;
  width: 0;
  height: 0;
}

.q9_sankaku:after {
  bottom: -38px;
  border-top: 20px solid #fff;
}

.q9_sankaku:before {
  bottom: -45px;
  border: 20px solid transparent;
  border-top: 20px solid #222;
}